spring:
  application:
    name: ads-loader-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ads-loader-bd
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/ads-loader-bd
    username: postgres
    password: pass

  data:
    r2dbc:
      repositories:
        enabled: true

logging:
  level:
    root: INFO
    vnavesnoj.spring.database.pool: INFO
    org.springframework.jdbc.core: INFO